<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/venders/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <link rel="stylesheet" href="styles/stylesheet.css" />
    <link rel="stylesheet" href="venders/bootstrap.min.css" />

    <title>Task List</title>
  </head>
  <body>
    <h1 class="cpl-xs-12 text-center">Task List</h1>
    <h2 class="col-xs-12">To Do</h2>
    <div class="container-fluid">
    <table class="table table-responsive">
      <thead>
        <th>
          Task
        </th>
        <th>
          Description
        </th>
        <th>
          Actions
        </th>
      </thead>
      <tbody id="todo">

      </tbody>
    </table>
  </div>
    <form class="add-task container-fluid">
      <div class="form-group col-md-4">
        <label for="task">Task: </label>
        <input type="text" name="task" class="form-control" required />
      </div>
      <div class="form-group col-md-4">
        <label for="discription">Task discription: </label>
        <input type="text" name="discription" class="form-control" />
      </div>
      <button id="add-task" class="btn btn-default btn-primary">Add Task</button>
    </form>
    <h2 class="col-xs-12">Complete</h2>
    <div class="container-fluid">
      <table class="table table-responsive">
        <thead>
          <th>
            Task
          </th>
          <th>
            Discription
          </th>
        </thead>
        <tbody id="complete">

        </tbody>
      </table>
    </div>
  </body>
</html>
